# Secrets et config locale
config.local.php
.env
.aide_push_git

# Fichiers envoyés par les utilisateurs
/uploads/
/medias/

# Système
.DS_Store
Thumbs.db
.vscode/sftp.json

# Dépendances
/vendor/
/node_modules/